# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# Model files
*.h5
*.keras
*.ckpt

# Dataset
data/
dataset/
PlantVillage/

# Training outputs
logs/
checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Temporary files
temp/
tmp/

# Uploaded images
uploads/

# TensorBoard
runs/

# Secrets
secrets.json
credentials.json



*.zip